body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding: 25px;
}

.title {
    text-align: center;
    margin-bottom: 42px;
    font-size: 32px;
}

.container {
    display: flex;
    gap: 33px;
    justify-content: center;
}

.card {
    background: #fff;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(93, 96, 94, 0.2);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.8s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin-top: 15px;
}

.card p {
    color: #555;
    font-size: 14px;
}

button {
    margin-top: 15px;
    padding: 10px;
    /* border: ; */
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}