*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box ;
}
nav{
    position: fixed;
    width:100%;
    height: 10%;
    background-color:rgba(68, 68, 68, 0.247);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
nav ul{
    list-style: none;
    gap:30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav .navbar{
    padding-left: 20px;
    padding-right: 15px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.parallex{
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.overlay{
    background: rgba(0,0,0,0.54);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    color:wheat;
}
.overlay h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.overlay p{
    font-size: 20px;
}
