*{
    margin :0;
    padding :0;
    box-sizing : border-box;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
header{
    width: 100%;
    background-color: rgb(44, 90, 227);
   
}
header h1{
    text-align: center;
}
header nav{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left:10px;
    padding:10px;
}
nav a{
    text-decoration: solid;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    /* padding: 10px; */
}
nav a:hover{
    color:black
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
#course {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-top: 20px;
    text-decoration: underline;

    

}
#course .cards{
    text-decoration: none;
    box-shadow:3px 3px 3px rgba(0,0,0,0.16);
    padding: 10px;
    border-radius: 10px;
     display: inline-block;
     background-color: rgb(255, 255, 255);

}
#course .cards h3{
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
}
#course .cards p{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}  
#course .cards:hover{
    box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
} 
#instructor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-top: 20px;
    text-decoration: underline;
    padding-left: 10%;
    padding-right: 10%

    

}
#instructor .cards{
    
    margin-top: 100px;
    line-height: 100px;
    text-decoration: none;
    box-shadow:3px 3px 3px rgba(0,0,0,0.16);
    padding: 10px;
    border-radius: 10px;
     display: inline-block;
     background-color: rgb(255, 255, 255);
}
#course .cards h3{
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
}
#instructor .cards p{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}  
#instructor .cards:hover{
    box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
} 

